<h1>Event Detail</h1>

<p>
    <strong>Event: </strong> {{revent.name}}<br />
    <strong>Location: </strong> {{revent.location}}}<br />
    <strong>Date and Time: </strong> {{revent.date}}<br />
    <strong>Description: </strong> {{revent.description}}<br />
    <strong>Available Capacity: </strong> {{revent.currentAttending}} / {{revent.capacity}}<br />
    <strong>Contact Person: </strong> {{revent.manager}} <br />
    <img src="{{revent.locationMap}}" style="width:400px; height: 400px" alt=""><br />
    <button class="btn btn-primary" (click)="onRegisterEvent()">
        Register for this Event
    </button>
</p>
<router-outlet></router-outlet>

